<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Eat da Burger!!</h1>
        <img src="../public/assets/images/burgers2.jpeg" class="img-fluid" alt="gourmet burger">
        <p class="lead"></p>
    </div>
</div>
<ul>
    <form class="create-form">
        <div class="form-group py-3 mb-4">
            <label for="burger_name">Burger name</label>
            <input type="hidden" name="id" value="{{id}}">
            <input type="text" class="form-control form-control-lg" id="burger_name" name="name" value="{{name}}"
                required>
        </div>

        <button type="submit" class="btn btn-success text-center" id="addburger" title="Click to submit">Submit
            <span class="fa fa-thumbs-up"></span>
        </button>
    </form>
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.

                    <div class="panel-body">

                        <ul>
                            {{#each burgers}}
                            {{#unless devoured}}

                            <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                            <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                                data-newDevoured="{{devour}}"><span class="fa fa-usd"></span></button>
                            <hr>
                            {{/unless}}
                            {{/each}}
                        </ul>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.

                    <div class="panel-body">
                        <ul>
                            {{#each burgers}}
                            {{#if devoured}}
                            <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>

                            {{/if}}
                            {{/each}}
                        </ul>

                    </div>
                </div>
            </div>
        </div>






        <script type="text/javascript">




        </script>










        {{!-- {!-- Create a button in `index.handlebars` that will submit the user input into the database. --}}